<aside class="sidebar">
  <div class="sidebar__logo">
    <a ui-sref="intro">
      <!--<img src="/img/logo.png" alt="">-->
      <h1>A (Not So) Hidden Menu</h1>
    </a>
  </div>
  <span class="sidebar__header">
    Tags
  </span>
  <ul class="sidebar__lst">
    <li class="sidebar__item">
      <a class="sidebar__link" href ui-sref="intro.splash">
        <i class="material-icons">done</i>
        Splash
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href ui-sref="intro.gallery">
        <i class="material-icons">done</i>
        Gallery
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href ui-sref="intro.headlines">
        <i class="material-icons">done</i>
        Headlines
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href ui-sref="search">
        <i class="material-icons">done</i>
        Search
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href ui-sref="news">
        <i class="material-icons">done</i>
        News
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href ui-sref="talent">
        <i class="material-icons">done</i>
        Talent
      </a>
    </li>
    <!--<li-->
      <!--class="sidebar__item"-->
      <!--ng-repeat="item in ::$ctrl.contactTags">-->
      <!--<a-->
        <!--class="sidebar__link"-->
        <!--ui-sref="contacts({ filter: item.state })"-->
        <!--ui-sref-active-eq="sidebar__link&#45;&#45;active">-->
        <!--<i class="material-icons">-->
          <!--{{ ::item.icon }}-->
        <!--</i>-->
        <!--{{ ::item.label }}-->
      <!--</a>-->
    <!--</li>-->
  </ul>
</aside>
