<header class="header">
  <div class="header__fixed">
    <div>
      <div class="header__brand">
        <img src="/img/logo.png" alt="">
        <a ui-sref="intro">NGC</a>
        <!--<a ui-sref="new" class="header__button header__button&#45;&#45;new-contact">-->
          <!--<i class="material-icons">add_circle_outline</i>-->
          <!--New Contact-->
        <!--</a>-->
      </div>
      <div class="header__logout">
        (Add current route nav or text or both)
        <a href ng-click="">
          <span class="header__button">
            <i class="material-icons">menu</i>
          </span>
        </a>
      </div>
    </div>
  </div>
</header>
